---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_4WDjoqxy0rAd0OROX0x5MnUD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-26'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14Qp5s4wLG6Oy3vF7Hnhl8F7",
          "livemode": false,
          "created": 1407887660,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14Qp5s4wLG6Oy3vFfgozQiTS",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2016,
            "fingerprint": "QgWwqM7FVfqMQcru",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Tue, 12 Aug 2014 23:54:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14Qp5s4wLG6Oy3vF7Hnhl8F7&plan=base&email=ofelia_harvey%40orn.biz
    headers:
      Authorization:
      - Bearer sk_test_4WDjoqxy0rAd0OROX0x5MnUD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-26'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1407887660,
          "id": "cus_4Zz4yO9XGvPCtE",
          "livemode": false,
          "description": null,
          "email": "ofelia_harvey@orn.biz",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4Zz4yO9XGvPCtE/subscriptions",
            "data": [
              {
                "id": "sub_4Zz4u1VMaTFtsO",
                "plan": {
                  "interval": "month",
                  "name": "myflix base plan",
                  "created": 1407887219,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1407887660,
                "status": "active",
                "customer": "cus_4Zz4yO9XGvPCtE",
                "cancel_at_period_end": false,
                "current_period_start": 1407887660,
                "current_period_end": 1410566060,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4Zz4yO9XGvPCtE/cards",
            "data": [
              {
                "id": "card_14Qp5s4wLG6Oy3vFfgozQiTS",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2016,
                "fingerprint": "QgWwqM7FVfqMQcru",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4Zz4yO9XGvPCtE"
              }
            ]
          },
          "default_card": "card_14Qp5s4wLG6Oy3vFfgozQiTS"
        }
  recorded_at: Tue, 12 Aug 2014 23:54:21 GMT
recorded_with: VCR 2.9.2
