---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14RFwN4wLG6Oy3vF0aC0lyXL&plan=base&email=joe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_4WDjoqxy0rAd0OROX0x5MnUD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-26'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1407990860,
          "id": "cus_4aQohZZSs4kxTJ",
          "livemode": false,
          "description": null,
          "email": "joe@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4aQohZZSs4kxTJ/subscriptions",
            "data": [
              {
                "id": "sub_4aQoKq3itRaeBQ",
                "plan": {
                  "interval": "month",
                  "name": "myflix base plan",
                  "created": 1407887219,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1407990860,
                "status": "active",
                "customer": "cus_4aQohZZSs4kxTJ",
                "cancel_at_period_end": false,
                "current_period_start": 1407990860,
                "current_period_end": 1410669260,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4aQohZZSs4kxTJ/cards",
            "data": [
              {
                "id": "card_14RFwN4wLG6Oy3vFvoNX6KW7",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2018,
                "fingerprint": "QgWwqM7FVfqMQcru",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4aQohZZSs4kxTJ"
              }
            ]
          },
          "default_card": "card_14RFwN4wLG6Oy3vFvoNX6KW7"
        }
  recorded_at: Thu, 14 Aug 2014 04:34:21 GMT
recorded_with: VCR 2.9.2
