---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14RsJF4wLG6Oy3vFLbTELnPl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_4WDjoqxy0rAd0OROX0x5MnUD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-26'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14RsJF4wLG6Oy3vFLbTELnPl",
          "created": 1408138349,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_14RsJF4wLG6Oy3vFjsE7nfIE",
              "object": "charge",
              "created": 1408138349,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14RsJ24wLG6Oy3vFvsErW85h",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2018,
                "fingerprint": "YLDUT7d9Pg3W2837",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4aQj4lE3bzU4fs"
              },
              "captured": false,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14RsJF4wLG6Oy3vFjsE7nfIE/refunds",
                "data": []
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_4aQj4lE3bzU4fs",
              "invoice": null,
              "description": "Failed charge",
              "dispute": null,
              "metadata": {},
              "statement_description": null,
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_4b4ScH4RytgygW"
        }
  recorded_at: Fri, 15 Aug 2014 22:18:23 GMT
recorded_with: VCR 2.9.2
