---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14RAEc4wLG6Oy3vFG35DbmM8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_4WDjoqxy0rAd0OROX0x5MnUD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-26'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14RAEc4wLG6Oy3vFG35DbmM8",
          "created": 1407968926,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_14RAEb4wLG6Oy3vFj7OPtaOu",
              "object": "charge",
              "created": 1407968925,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14RAEb4wLG6Oy3vFtfJRAhso",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2014,
                "fingerprint": "QgWwqM7FVfqMQcru",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4aKu5PRsEU6OUj"
              },
              "captured": true,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14RAEb4wLG6Oy3vFj7OPtaOu/refunds",
                "data": []
              },
              "balance_transaction": "txn_14RAEc4wLG6Oy3vFiDuUDc7l",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_4aKu5PRsEU6OUj",
              "invoice": "in_14RAEb4wLG6Oy3vFAGaTf41E",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": null,
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4aKu1wZi7FHoXw"
        }
  recorded_at: Thu, 14 Aug 2014 00:32:55 GMT
recorded_with: VCR 2.9.2
