---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14PQsY4wLG6Oy3vFV7snZyfC&description=Sign%20up%20charge%20for%20joe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_4WDjoqxy0rAd0OROX0x5MnUD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-26'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14PQsY4wLG6Oy3vFAIMpxfCH"
          }
        }
  recorded_at: Sat, 09 Aug 2014 03:50:50 GMT
recorded_with: VCR 2.9.2
