---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14PQsW4wLG6Oy3vFf8QahQyd&description=Sign%20up%20charge%20for%20joe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_4WDjoqxy0rAd0OROX0x5MnUD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-26'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14PQsX4wLG6Oy3vFLiJQwpXv",
          "object": "charge",
          "created": 1407556249,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14PQsW4wLG6Oy3vFdvjvKMS4",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2018,
            "fingerprint": "QgWwqM7FVfqMQcru",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14PQsX4wLG6Oy3vFLiJQwpXv/refunds",
            "data": []
          },
          "balance_transaction": "txn_14PQsX4wLG6Oy3vFGMWHdrIT",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for joe@example.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Sat, 09 Aug 2014 03:50:49 GMT
recorded_with: VCR 2.9.2
