---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=8&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_4WDjoqxy0rAd0OROX0x5MnUD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-26'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14P18j4wLG6Oy3vFE3XT4Lfb",
          "livemode": false,
          "created": 1407457309,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14P18j4wLG6Oy3vFDYUI3D0i",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2016,
            "fingerprint": "QvFs3nlOzNIfKxja",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Fri, 08 Aug 2014 00:21:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&card=tok_14P18j4wLG6Oy3vFE3XT4Lfb&description=invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_4WDjoqxy0rAd0OROX0x5MnUD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-26'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14P18k4wLG6Oy3vFpqUk3dgT"
          }
        }
  recorded_at: Fri, 08 Aug 2014 00:21:50 GMT
recorded_with: VCR 2.9.2
